In [1]:
import pandas as pd

In [194]:
# 1️⃣ Bo'sh qiymatlarni 0 bilan to'ldirish (agar kerak bo'lsa)
df['loan_amount'] = df['loan_amount'].fillna('0').astype(str)

# 2️⃣ $ belgilarini olib tashlash
df['loan_amount'] = df['loan_amount'].str.replace('$', '', regex=False)

# 3️⃣ float ga o'tkazish
df['loan_amount'] = df['loan_amount'].astype(float)

# 4️⃣ Tekshirish
print(df['loan_amount'].head())

0     17700.0
1    114000.0
2      9300.0
3      8700.0
4      7200.0
Name: loan_amount, dtype: float64

In [195]:
# loan_type ustunini stringga o'tkazish va bo'sh joylarni olib tashlash
df['loan_type'] = df['loan_type'].astype(str).str.strip().str.lower()

# Standartlashtirish uchun map yaratish
loan_type_map = {
    'personal': 'Personal',
    'personal loan': 'Personal',
    'mortgage': 'Mortgage',
    'home loan': 'Mortgage',
    'credit card': 'Credit Card',
    'cc': 'Credit Card'
}

# Qo'llash
df['loan_type'] = df['loan_type'].map(loan_type_map)

# Natijani tekshirish
print(df['loan_type'].unique())

['Personal' 'Mortgage' nan 'Credit Card']

In [189]:
df['marketing_campaign'].unique()

array(['W', 'B', 'K', 'A', 'S', 'Q', 'J', 'U', 'I', 'T', 'E', 'Z', 'O',
       'F', 'M', 'H', 'R', 'G', 'D', 'Y', 'V', 'X', 'C', 'P', 'N', 'L'],
      dtype=object)

In [30]:
df['employment_length'].value_counts(dropna=False)

employment_length
NaN     2253
4.9     1083
4.6     1073
4.3     1044
5.3     1040
        ...
21.2       1
19.7       1
19.6       1
18.7       1
23.9       1
Name: count, Length: 205, dtype: int64

In [170]:
df.isnull().sum()

customer_id            0
loan_type              0
loan_amount            0
loan_term              0
interest_rate          0
loan_purpose           0
loan_to_value_ratio    0
origination_channel    0
loan_officer_id        0
marketing_campaign     0
dtype: int64

In [188]:
df['origination_channel'].unique()

array(['Direct Mail', 'Branch', 'Online', 'Broker'], dtype=object)

In [191]:

df = df.drop('loan_amount_clean', axis=1)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89999 entries, 0 to 89998
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer_number            89999 non-null  int64
 1   credit_score               89999 non-null  int64
 2   num_credit_accounts        89999 non-null  int64
 3   oldest_credit_line_age     89999 non-null  float64
 4   oldest_account_age_months  89999 non-null  float64
 5   total_credit_limit         89999 non-null  float64
 6   num_delinquencies_2yrs     89999 non-null  float64
 7   num_inquiries_6mo          89999 non-null  int64
 8   recent_inquiry_count       89999 non-null  int64
 9   num_public_records         89999 non-null  int64
 10  num_collections            89999 non-null  int64
 11  account_diversity_index    89999 non-null  float64
dtypes: float64(5), int64(7)
memory usage: 8.2 MB

In [193]:
# 1️⃣ Kerakli kutubxonalarni import qilamiz
import pandas as pd
from sqlalchemy import create_engine

# 2️⃣ PostgreSQL ulanish parametrlari
username = "postgres"             # ma’lumotlar bazasi foydalanuvchisi
password = "1234"                  # foydalanuvchi paroli
host = "localhost"                 # lokal server
port = "5432"                      # PostgreSQL default port
database = "customer_behavior"     # ma’lumotlar bazasi nomi

# 3️⃣ SQLAlchemy engine yaratish
engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")

# 4️⃣ Jadval nomi
table_name = "loan_details"

# 5️⃣ DataFrame ni PostgreSQL ga yuklash
#    - if_exists="replace" → agar jadval bo‘lsa yangisi bilan almashtiradi
#    - index=False → DataFrame index ustuni SQL jadvaliga kirmaydi
df.to_sql(table_name, engine, if_exists="replace", index=False)

# 6️⃣ Tasdiqlash
print(f"Data successfully loaded into table '{table_name}' in database '{database}'")

Data successfully loaded into table 'loan_details' in database 'customer_behavior'

In [64]:
df

,cust_id,age,annual_income,employment_length,employment_type,education,marital_status,num_dependents
0,10000,41,61800.0,2.2,Full-time,Graduate,Married,2
1,10001,38,28600.0,7.0,Full-time,High School,Married,0
2,10002,18,20700.0,0.8,Full-time,Bachelor,Single,0
3,10003,27,31400.0,4.8,Full-time,Bachelor,Single,0
4,10004,26,24600.0,5.2,Full-time,High School,Single,0
...,...,...,...,...,...,...,...,...
89994,99994,52,72300.0,3.7,Full-time,Bachelor,Single,1
89995,99995,61,20000.0,4.2,Full-time,High School,Divorced,1
89996,99996,19,20000.0,1.5,Full-time,High School,Married,3
89997,99997,21,20000.0,3.5,Full-time,High School,Married,1
89998,99998,36,25600.0,2.0,Self Employed,Bachelor,Married,3

In [37]:
df['employment_type'] = df['employment_type'].replace({
    'Full-time': 'Full-time',
    'FULL_TIME': 'Full-time',
    'Full Time': 'Full-time',
    'Fulltime': 'Full-time',
    'FT': 'Full-time',
    'Part-time':'Part-time',
    'PART_TIME':'Part-time',
    'Part Time':'Part-time',
    'PT':'Part-time',
    'Self Employed':'Self Employed',
    'Self Emp':'Self Employed',
    'Self-employed':'Self Employed',
    'SELF_EMPLOYED':'Self Employed',
    'Contractor':'Contract',
    'Contract':'Contract',
    'CONTRACT':'Contract'
})

In [192]:
df

,customer_id,loan_type,loan_amount,loan_term,interest_rate,loan_purpose,loan_to_value_ratio,origination_channel,loan_officer_id,marketing_campaign
0,10000,Personal,17700.0,36,12.50,Debt Consolidation,0.000,Direct Mail,1045,W
1,10001,Mortgage,114000.0,180,6.83,Refinance,0.774,Branch,1011,B
2,10002,Personal,9300.0,36,13.99,Major Purchase,0.000,Online,1084,K
3,10003,Personal,8700.0,48,13.26,Medical,0.000,Online,1048,A
4,10004,Personal,7200.0,24,10.77,Debt Consolidation,0.000,Branch,1055,S
...,...,...,...,...,...,...,...,...,...,...
89994,99994,Personal,11300.0,24,9.70,Home Improvement,0.000,Branch,1050,O
89995,99995,Personal,16500.0,36,11.67,Other,0.000,Branch,1071,D
89996,99996,Personal,17800.0,36,14.99,Major Purchase,0.000,Online,1046,J
89997,99997,Credit Card,11700.0,0,19.10,Revolving Credit,0.000,Branch,997,K
89998,99998,Mortgage,487100.0,360,5.03,Refinance,0.894,Online,1003,J

In [197]:
df1 = pd.read_csv("application_metadata.csv")

In [198]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89999 entries, 0 to 89998
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   customer_ref                89999 non-null  int64
 1   application_id              89999 non-null  int64
 2   application_hour            89999 non-null  int64
 3   application_day_of_week     89999 non-null  int64
 4   account_open_year           89999 non-null  int64
 5   preferred_contact           89999 non-null  object
 6   referral_code               89999 non-null  object
 7   account_status_code         89999 non-null  object
 8   random_noise_1              89999 non-null  float64
 9   num_login_sessions          89999 non-null  int64
 10  num_customer_service_calls  89999 non-null  int64
 11  has_mobile_app              89999 non-null  int64
 12  paperless_billing           89999 non-null  int64
 13  default                     89999 non-null  int64
dtypes: float64(1), int64(10), object(3)
memory usage: 9.6+ MB

In [199]:
df1

,customer_ref,application_id,application_hour,application_day_of_week,account_open_year,preferred_contact,referral_code,account_status_code,random_noise_1,num_login_sessions,num_customer_service_calls,has_mobile_app,paperless_billing,default
0,10000,620515,5,6,2013,Mail,REF0000,ACT-2,1.137099,13,2,1,1,0
1,10001,624978,4,2,2015,Phone,REF0000,ACT-3,-0.164932,6,1,1,1,1
2,10002,564658,10,3,2020,Phone,REF0000,ACT-3,0.526700,1,2,1,0,0
3,10003,621493,7,5,2010,Email,REF0000,A01,-0.709779,4,1,1,1,0
4,10004,637785,1,2,2020,Mail,REF0000,ACT-3,-0.603132,6,2,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89994,99994,585752,13,5,2016,Email,REF0000,A01,1.628917,10,3,0,1,0
89995,99995,595205,13,5,2014,Mail,REF9754,ACTIVE,-0.501960,12,1,1,0,0
89996,99996,544796,7,5,2010,Mail,REF0000,A01,-0.964956,4,2,1,1,1
89997,99997,560885,8,3,2021,Email,REF0000,ACT-1,0.328372,5,2,0,0,0
89998,99998,613089,15,5,2022,Mail,REF0000,ACTIVE,-0.318403,5,3,1,0,0

In [200]:
df1.isnull().sum()

customer_ref                  0
application_id                0
application_hour              0
application_day_of_week       0
account_open_year             0
preferred_contact             0
referral_code                 0
account_status_code           0
random_noise_1                0
num_login_sessions            0
num_customer_service_calls    0
has_mobile_app                0
paperless_billing             0
default                       0
dtype: int64

In [203]:
df1['account_status_code'].unique()

array(['ACT-2', 'ACT-3', 'A01', 'ACT-1', 'ACTIVE'], dtype=object)

In [204]:
df1

,customer_ref,application_id,application_hour,application_day_of_week,account_open_year,preferred_contact,referral_code,account_status_code,random_noise_1,num_login_sessions,num_customer_service_calls,has_mobile_app,paperless_billing,default
0,10000,620515,5,6,2013,Mail,REF0000,ACT-2,1.137099,13,2,1,1,0
1,10001,624978,4,2,2015,Phone,REF0000,ACT-3,-0.164932,6,1,1,1,1
2,10002,564658,10,3,2020,Phone,REF0000,ACT-3,0.526700,1,2,1,0,0
3,10003,621493,7,5,2010,Email,REF0000,A01,-0.709779,4,1,1,1,0
4,10004,637785,1,2,2020,Mail,REF0000,ACT-3,-0.603132,6,2,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89994,99994,585752,13,5,2016,Email,REF0000,A01,1.628917,10,3,0,1,0
89995,99995,595205,13,5,2014,Mail,REF9754,ACTIVE,-0.501960,12,1,1,0,0
89996,99996,544796,7,5,2010,Mail,REF0000,A01,-0.964956,4,2,1,1,1
89997,99997,560885,8,3,2021,Email,REF0000,ACT-1,0.328372,5,2,0,0,0
89998,99998,613089,15,5,2022,Mail,REF0000,ACTIVE,-0.318403,5,3,1,0,0

In [206]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89999 entries, 0 to 89998
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   customer_ref                89999 non-null  int64
 1   application_id              89999 non-null  int64
 2   application_hour            89999 non-null  int64
 3   application_day_of_week     89999 non-null  int64
 4   account_open_year           89999 non-null  int64
 5   preferred_contact           89999 non-null  object
 6   referral_code               89999 non-null  object
 7   account_status_code         89999 non-null  object
 8   random_noise_1              89999 non-null  float64
 9   num_login_sessions          89999 non-null  int64
 10  num_customer_service_calls  89999 non-null  int64
 11  has_mobile_app              89999 non-null  int64
 12  paperless_billing           89999 non-null  int64
 13  default                     89999 non-null  int64
dtypes: float64(1), int64(10), object(3)
memory usage: 9.6+ MB

In [207]:
# 1️⃣ Kerakli kutubxonalarni import qilamiz
import pandas as pd
from sqlalchemy import create_engine

# 2️⃣ PostgreSQL ulanish parametrlari
username = "postgres"             # ma’lumotlar bazasi foydalanuvchisi
password = "1234"                  # foydalanuvchi paroli
host = "localhost"                 # lokal server
port = "5432"                      # PostgreSQL default port
database = "customer_behavior"     # ma’lumotlar bazasi nomi

# 3️⃣ SQLAlchemy engine yaratish
engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")

# 4️⃣ Jadval nomi
table_name = "application_metadata"

# 5️⃣ DataFrame ni PostgreSQL ga yuklash
#    - if_exists="replace" → agar jadval bo‘lsa yangisi bilan almashtiradi
#    - index=False → DataFrame index ustuni SQL jadvaliga kirmaydi
df.to_sql(table_name, engine, if_exists="replace", index=False)

# 6️⃣ Tasdiqlash
print(f"Data successfully loaded into table '{table_name}' in database '{database}'")

Data successfully loaded into table 'application_metadata' in database 'customer_behavior'